@charset "UTF-8";
/*=======================
フロントページ　コンタクトセクション
=======================*/
@use "sass:math";
@use "../../foundation/forwords" as fw;

.p-contact .parallax-bg {
  background-image: url('../image/img_contact01.jpg');
}
.p-contact .c-sectionTitle { 
  color: fw.$color--lightgray; 
}

.p-contact__card {
  width: 600px;
  padding: 48px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid fw.$color--white;
  text-align: center;

  .p-contact__title { 
    font-size: 36px; 
    font-weight: 700; 
    letter-spacing: 6.48px; 
    margin-bottom: 32px;
   }
   
  .p-contact__text  { 
    margin-bottom:32px; 
    font-size:16px; 
  }

  .c-btn{
    margin: 0 auto;
  }
}